/* General styles */
.about-us-container {
  padding: 80px 120px;
  margin: 0 auto;
  line-height: 1.6;
  color: var(--primary-lighter-4);
  font-family: 'Raleway', sans-serif; 
  background: linear-gradient(
    to bottom, 
    #37457F 30%, /* Color superior */
    #017F98 100% 
);

}

.section-title {
  font-size: 32px;
  color: var(--primary-lighter-4);
  text-align: center;
  margin-bottom: 20px;
}

/* Image styling */
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.intro-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


.values-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.icon-container {
  text-align: center;
  margin: 10px;
}

.value-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}


.unique-proposition {
  margin-top: 30px;
}

.proposition-title {
  font-size: 26px;
  color: var(--primary-lighter-4);
  margin-bottom: 10px;
}

.proposition-text {
  font-size: 20px;
  color: var(--white-color); 
  margin-bottom: 20px;
  text-align: justify;
}

.mission-title {
  text-align: center;
}

.mission-text {
  font-size: 20px;
  color: var(--white-color); 
}

.intro-text {
  font-size: 20px;
  color: #D8D9E5; 
}
