.testimonials-container {
    display: flex;
    gap: 20px; /* Espacio entre las columnas */
    padding: 10px;
    scroll-behavior: smooth;
  }

@media (max-width: 992px) {
  .testimonials-container {
    display: block;
  }
}
  