.benefits {
    padding: 20px;
    background-color: var(--grey-1);
    border-radius: 10px;
}

.benefits h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #222;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-lighter-1);
    padding: 20px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 10px;
}

.benefit-icon {
    font-size: 2rem; 
    color: var(--tertiary-color); 
}

.benefit-item p {
    margin: 10px 0; 
    font-size: 1em;
    line-height: 1.4;
    color: var(--dark-text-color); 
}

@media(max-width: 768px) {
    .benefit-item p {
        text-align: center;
    }
}
