.case-studies {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 400px;
}

.case-card:hover {
  transform: translateY(-5px);
}

.case-card img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.case-card p {
  font-size: 1.2rem;
  color: var(--dark-text-color);
  margin-top: 10px;
}
