.footer {
  text-align: center;
  padding: 20px;
  color: var(--black-color); 
  font-family: 'Raleway', sans-serif;
  border-top: 5px solid var(--dark-bg);
  background-color: var(--primary-lighter-4); 
}

.footer a {
  color: var(--highlight-color); 
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--secondary-color); 
}
