.header {
  padding: 16px;
  position: relative;
}

.main-menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.main-menu ul li {
  margin: 0 15px;
}

.main-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(-primary-lighter-2);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.main-menu ul li a:hover {
  color: var(--primary-darker-3);
  text-shadow: 0px 0px 10px rgba(201, 166, 204, 0.7);
}

/* Efecto hover con una leve sombra de fondo */
.main-menu ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  /* Color de la línea bajo el link */
  transition: width 0.3s ease;
}

.main-menu ul li a:hover::before {
  width: 100%;
}

/* Contenedor del logo y el círculo */
.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 140px;
  height: 140px;
  top: 100%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Estilos del logo */
.logo {
  width: 96px;
  height: auto;
  z-index: 11;
}

/* Círculo de fondo */
.div-de-img {
  width: 140px;
  height: 140px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  top: 0;
  /* Alinea el círculo con el contenedor */
  left: 0;
}

/* Ajustes para pantallas más pequeñas (centrar el logo y círculo) */
@media (max-width: 768px) {
  .header {
    padding: 32px;
  }

  .logo-container {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }

  .logo {
    width: 82px;
  }

  .div-de-img {
    width: 120px;
    height: 120px;
  }
}

/* Ocultar el botón hamburguesa por defecto */
.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 28px;
  color: var(--accent-color);
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 11;
}

/* Estilos para pantallas pequeñas (menores de 769px) */
@media (max-width: 769px) {

  /* Ocultar el menú normal y mostrar el menú hamburguesa */
  .main-menu ul {
    display: none;
    flex-direction: column;
    background-color: var(--light-bg);
    position: absolute;
    top: 60px;
    right: 0;
    width: 80%;
  }

  /* Mostrar el botón hamburguesa */
  .hamburger-menu {
    display: block;
    top: 0;
  }

  /* Mostrar el menú hamburguesa al hacer clic */
  .main-menu.active ul {
    display: flex;
  }

  /* Estilos del menú hamburguesa desplegado */
  .main-menu ul li {
    margin: 10px 0;
    text-align: center;
  }
}