.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-repeat: no-repeat;
  color: var(--light-bg);
  overflow: hidden;
}

.heroku {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

/* Capa de superposición negra al 40% de opacidad */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Texto del hero */
.hero-text {
  position: relative; /* Mantiene el texto por encima de la capa negra */
  z-index: 2; /* El texto está por encima de la capa negra */
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  font-family: 'Noto Sans', sans-serif; 
  color: var(--white-color); 
}

.hero p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--light-bg); /* Color claro corporativo */
}

.hero-button {
  background-color: var(--secondary-color); 
  padding: 12px 24px;
  font-size: 18px;
  margin-top: 20px; /* Espacio adicional en el botón */
  color: var(--white-color); /* Color blanco para el texto del botón */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.hero-button:hover {
  background-color: var(--secondary-color); /* Cambia el color en hover */
}

.margin-title {
  margin-top: 30px;
  margin-left: 30px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .just-desktop {
    display: none;
  } 
}