/* Tarjeta testimonial */
.testimonial-card {
  flex-direction: column; /* Acomoda los elementos verticalmente en pantallas pequeñas */
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre la imagen y el testimonio */
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--secondary-lighter-4); /* Fondo mejorado */
  color: var(--black-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centra el componente */
}

.testimonial-img-container {
  display: flex;
  flex-direction: column; /* Coloca la imagen y el texto verticalmente */
  align-items: center;
  text-align: center;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Imagen redonda */
  object-fit: cover;
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espacio entre nombre y empresa */
}

.testimonial-name,
.testimonial-company {
  font-size: 0.9rem;
  font-weight: bold; /* Negrita */
  color: var(--black-color);
  line-height: 1.2;
}

.testimonial-text {
  flex: 1; /* El testimonio ocupa el espacio restante */
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-text-color);
  text-align: left;
}

@media (max-width: 768px) {
  .testimonial-card {
    flex-direction: column; /* Acomoda los elementos verticalmente en pantallas pequeñas */
    text-align: center;
  }

  .testimonial-text {
    text-align: center;
  }
}
